header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
    color: #fff;
    padding: 10px;
  }
  
  .header-left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header-left ul li {
    margin-right: 20px;
  }
  
  .header-left ul li:last-child {
    margin-right: 0;
  }
  
  .header-left ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .header-left ul li a:hover {
    text-decoration: underline;
  }
  
  .header-right h1 {
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
  }
  h1 a{

        text-decoration: none;
        color: white;
  }

  body{
    background-color: skyblue;
  }